@font-face {
    font-family: good-dog;
    src: url(/static/good-dog.ttf);
}

.good-dog {
    font-family: good-dog;
    font-size: 150%;
}

.good-dog-header {
    font-family: good-dog;
    font-size: 250%;
}

.good-dog-small {
    font-family: good-dog;
    font-size: 100%;
}

.center {
    text-align: center;
}

.gray {
    background-color: #f0f0f0;
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
  }

.orange {
    color: #da9432;
}

.brown {
    color: #8c4511;
}

.transparent {
    background: transparent;
}

.image {
    position: relative;
    width: 100%;
}

.image-text-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.tab-content {
    padding: 10px;
}

.panel.panel-horizontal {
    display:table;
    width:100%;
    margin: 2px;
}

.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
    display:table-cell;
    vertical-align: middle;
    padding: 0;
    padding-left: 7px;
}

.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-footer {
    width: 10%;
    border:0;
    vertical-align: middle;
    text-align: center;
    padding: 0;
}

.panel.panel-horizontal > .panel-heading {
    border-right: 1px solid #ddd;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    padding: 0;
}

.fixed { 
    height: 800px;
    overflow: hidden;
}

.scrollit { 
    height: 800px;
    overflow-y: scroll;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,.nav-pills > li > a:hover {
    text-decoration: none;
    font-weight: bold;
    border-radius: 0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #da9432;
    color: gray !important;
    background-color: transparent !important;
}

.nav-pills > li > a{
    border-radius:0px;
}


.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,.nav-tabs > li > a:hover {
    border-bottom-color: #da9432 !important;
    color: gray !important;
}


.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    color: green;
    text-align: center;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}



li {
    padding-left: 5px;
}

a {
    color: green;
}

/*body {
    background: url(/static/img/bones.png);
}*/

