<!doctype html>
<html>
<head>
    <title>Spot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes alert alert-success center good-dog-header" style="font-size: 150%">
        {% for message in messages %}
            {{ message }}<br>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}

    {% block head %} put your head content here {% endblock %}

</head>

<body>
<nav class="navbar navbar-default good-dog">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand good-dog" href="/">Spot</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a><img src='/static/img/paw.png' width="20"> the best friend finder</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            {% if user %}
                <a href="/users/{{ user.user_id }}"><span style="color: green">{{ user.email }}</span></a>
            {% else %}
                <a href="/login"><span class="orange">not logged in</span></a>
            {% endif %}
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="/static/img/home.png" height="23" width="25"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% if user %}
                <li style="font-size: 150%"><a href="/users/{{ user.user_id }}">Profile</a></li>
                <li style="font-size: 150%"><a href="/logout">Logout</a></li>
            {% else %}
                <li style="font-size: 150%"><a href="/login">Login</a></li>
                <li style="font-size: 150%"><a href="/register">Register</a></li>
            {% endif %}
            <li role="separator" class="divider"></li>

            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    {% block content %} put your content here {% endblock %}


</body>
</html>