<!doctype html>
<html>
<head>
    <title>Spot</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
</head>

<body>
    <form action='/'>
        <button type="submit">home</button>
    </form>
    <form action="/logout">
        <button type="submit">logout</button>
    </form>
    {% block content %} put your content here {% endblock %}
</body>
</html>