{% extends 'base.html' %}

{% block head %}

    <style>
      #map {
        height: 600px;
        width: 600px;
      }
    </style>

{% endblock %}


{% block content %}

{% if breed %}
    <h4><a href='/breeds/{{ breed.breed_id}}'>{{ breed.name }}</a></h4>
    <div>{{ breed.description }}</div>
    <img src='{{ breed.photo }}'>
{% else %}
    <h4>all</h4>
{% endif %}

<h4>breeder results near 
    <span id="zipcode">
        {% if location %}
            {{ location }}
        {% elif user %}
            {{ user.zipcode }}
        {% endif %}
    </span>
:</h4> 

{% for breeder in breeders %}
<b>{{ loop.index }}</b> - <a href='/breeders/{{ breeder.breeder_id }}'>{{ breeder.name }}</a><br>
{{ breeder.email }}<br>
<span class="address" data-address='{{ breeder.address }}'>{{ breeder.address }}</span><br>
{{ breeder.phone }}<br><br>
{% endfor %}

<div id="map"></div>

    <script src="https://code.jquery.com/jquery.js"></script>

    <script type="text/javascript" src="/static/js/breeder-search-map.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFObsWCCQqa4NCpJrZ4JGUze4rncKmZTw&callback=initMap"
    async defer></script>

{% endblock %}