{% extends 'base.html' %}

{% block head %}

    <style>
      #map {
        height: 300px;
        width: 300px;
      }
    </style>

{% endblock %}

{% block content %}

<h2>{{ breeder.name }}</h2>
<div>Breeds:
    {% for breed in breeds %}
        {% if loop.last %}
            <a href='/breeds/{{ breed.breed_id }}'>{{ breed.name }}</a>
        {% else %}
            <a href='/breeds/{{ breed.breed_id }}'>{{ breed.name }}, </a>
        {% endif %}
    {% endfor %}
</div>

<div>{{ spots|length }} spots</div>

<div>
    {% if user in users_spots %}
        <h5>You've spotted this breeder!</h5>
    {% else %}
        <h5>spot this breeder</h5>
        <form action="/breeder-spot", method="POST">
            <button type="submit">spot</button>
            <input type="hidden" name="breeder" value=" {{ breeder.breeder_id }}">
        </form>
    {% endif %}
</div>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#info">Info</a></li>
    <li><a data-toggle="tab" href="#litters">Litters</a><li>
    <li><a data-toggle="tab" href="#dogs">Dogs</a><li>
    <li><a data-toggle="tab" href="#awards">Awards</a><li>
    <li><a data-toggle="tab" href="#events">Events</a><li>
    <li><a data-toggle="tab" href="#blog">Blog</a><li>
</ul>

<div class="tab-content">
    <div id="info" class="tab-pane fade in active">
        <h4>Bio:</h4>
        <p>{{ breeder.bio }}</p>

        <div><b>{{ breeder.name }}</b></div>
        <div id="address">{{ breeder.address }}</div>
        <div>{{ breeder.phone }}</div>
        <div>{{ breeder.email }}</div>

        <div>
            <div class="photoGallery" data-gallery="breeder">
                <button onclick="plusDivs(-1, 'breeder')">❮</button>
                <button onclick="plusDivs(1, 'breeder')">❯</button>
                {% for photo in photos %}
                <div class="mySlides-breeder">
                    <div>{{ photo.caption }}</div>
                    <img src="{{ photo.photo }}" width="400" length="400">
                </div>
                {% endfor %}
            </div>
        </div>

        <div id="map"></div>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFObsWCCQqa4NCpJrZ4JGUze4rncKmZTw&callback=initMap"
        async defer></script>
        <script type="text/javascript" src="/static/js/breeder-info-map.js"></script>
    </div>
    <div id="litters" class="tab-pane fade">
        <div class="row">
          <div class="col-sm-5 col-md-4">
            {% for date, litter, breed in litters %}
            <div class="thumbnail">
                <h4>Litter #{{ loop.revindex }}</a> - {{ litter.date_born.strftime('%m/%d/%y') }}</h4>
                {% if litter.photos %}
                    <img src="{{ (litter.photos|random).photo }}" width="175">
                {% else %}
                    <img src="{{ breed.photo }}" width="150">
                {% endif %}
              <div class="caption">
                <p>
                    <a href='/breeds/{{ breed.breed_id }}'>{{ breed.name }}</a><br>
                    Sire: <a href='/breeders/{{ breeder.breeder_id }}/dogs/{{ litter.sire_id }}'>{{ litter.sire.name }}</a>
                    | Dam: <a href='/breeders/{{ breeder.breeder_id }}/dogs/{{ litter.dam_id }}'>{{ litter.dam.name }}</a><br>
                    Available: {{ litter.date_available.strftime('%m/%d/%y') }}<br>
                    {{ litter.num_pups }} puppies<br>
                    {{ litter.description }}<br>
                </p>
                <p><a href="/breeders/{{ breeder.breeder_id }}/litters/{{ litter.litter_id }}" class="btn btn-primary" role="button">Details</a></p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
    <div id="dogs" class="tab-pane fade">
        <h4>Dogs:</h4>
        Sires<ul>
        {% for sire in sires %}
            <li><a href='/breeders/{{ breeder.breeder_id }}/dogs/{{ sire.dog_id }}'>{{ sire.name }}</a><br>
                date born: {{ sire.date_born.strftime('%m/%d/%y') }}<br>
                description: {{ sire.description}}<br>
            </li>
        {% endfor %}
        </ul>
        Dams<ul>
        {% for dam in dams %}
            <li><a href='/breeders/{{ breeder.breeder_id }}/dogs/{{ dam.dog_id }}'>{{ dam.name }}</a><br>
                date born: {{ dam.date_born.strftime('%m/%d/%y') }}<br>
                description: {{ dam.description}}<br>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="awards" class="tab-pane fade">
        <h4>Awards:</h4>
        <ul>
        {% for date, award, dog in awards %}
            <li>
                {{ award.name }}</a> - {{ award.date.strftime('%m/%d/%y') }}<br>
                Winner: <a href='/breeders/{{ breeder.breeder_id }}/dogs/{{ award.dog_id }}'>{{ dog.name }}</a><br>
                {{ award.description }}<br>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="events" class="tab-pane fade">
        <h4>Events:</h4>
        <ul>
        {% for event in events %}
            <li>
                <a href='/breeders/{{ breeder.breeder_id }}/events/{{ event.event_id }}'>{{ event.name }}</a> - {{ event.date.strftime('%m/%d/%y') }}<br>
                {{ event.description }}<br>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="blog" class="tab-pane fade">
        <h4>Blog:</h4>
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#all">All</a></li>
            {% for date, blog in blogs %}
            <li><a data-toggle="pill" href="#{{ blog.category }}">{{ blog.category }}</a></li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            <div id="all" class="tab-pane fade in active">
                <ul>
                {% for date, blog in blogs %}
                    <li>
                        {{ blog.date.strftime('%m/%d/%y') }}: {{ blog.category }}<br>
                        {{ blog.post }}<br>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% for date, blog in blogs %}
            <div id="{{ blog.category }}" class="tab-pane fade">
                <ul>
                    <li>
                        {{ blog.date.strftime('%m/%d/%y') }}: {{ blog.category }}<br>
                        {{ blog.post }}<br>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

<script src="/static/js/photo-gallery.js"></script>

{% endblock %}