{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block content %}

<h4><span class="glyphicon glyphicon-search" aria-hidden="true"></span> find a breed</h4>
<form action="/breed-search">
<h5>Results</h5>
    {% for result, breed in search_results %}
    <div>
        <div>{{ loop.index }}. <a href="/breeds/{{ breed.breed_id }}">{{ breed.name }}</a> - {{ breed.description }}</div>
        <img src='{{ breed.photo }}' height="200" width="200">
        <div>Size: {{ breed.size.size }}</div>
        <div>Energy: {{ breed.energy.energy }}</div>
        <div>Group: {{ breed.group.name }}</div><br>
    </div>
    {% endfor %}

{% endblock %}