{% extends 'base.html' %}

{% block head %}

    <style>
      #map {
        height: 600px;
        width: 600px;
      }
    </style>

{% endblock %}


{% block content %}

<h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span> find a breeder</h4>

{% if breed %}
    <h4><a href='/breeds/{{ breed.breed_id}}'>{{ breed.name }}</a></h4>
    <div>{{ breed.description }}</div>
    <img src='{{ breed.photo }}'>
{% else %}
    <h4>all</h4>
{% endif %}

<h4>Breeder results near 
    <span id="zipcode">{{ location }}</span>
:</h4> 

{% for dist, breeder in breeders %}
<div id="breeder{{ loop.index }}">{{ loop.index }}</b> - <a href='/breeders/{{ breeder.breeder_id }}'>{{ breeder.name }}</a> ~ {{ dist|round(1, 'floor') }} miles away</div>
{{ breeder.email }}<br>
<span class="address" data-address='{{ breeder.address }}'>{{ breeder.address }}</span><br>
{{ breeder.phone }}<br><br>
{% endfor %}

<div id="map"></div>

<script src="https://code.jquery.com/jquery.js"></script>

<script type="text/javascript" src="/static/js/breeder-search-map.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFObsWCCQqa4NCpJrZ4JGUze4rncKmZTw&callback=initMap"
async defer></script>

{% endblock %}