{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block content %}

<div class="container">
    <div class="good-dog-header"><a href='{{ breed.akc_url }}'>{{ breed.name }}</a></div>

    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src='{{ breed.photo }}'>
                <div class="image-text-left">
                    {% if user in users_spots %}
                        <form action='/remove-breed-spot' method="POST">
                            <button class="btn btn-default transparent"><img src="/static/img/unpaw.png" title="you've spotted this breed" width="20"></button>
                            <input type="hidden" name="breed" value="{{ breed.breed_id }}">
                        </form>
                    {% else %}
                        <span class="good-dog"></span>
                        <form action="/breed-spot", method="POST">
                            <button class="btn btn-default"><img src="/static/img/paw.png" title="spot this breed!" width="35"></button>
                            <input type="hidden" name="breed" value="{{ breed.breed_id }}">
                        </form>
                    {% endif %}
                </div>
            </div>
            <span class="good-dog"><span class="good-dog">{{ spots|length }}</span> spots!</span>
        <br>
            <div class="well well-sm">
                <div class="good-dog orange">find a breeder</div>
                <form action="/breeder-search">
                    <div class="input-group">
                        {% if user %}
                        <input type="text" class="form-control" name="location" placeholder="{{ user.zipcode }}">
                        {% else %}
                        <input type="text" class="form=control" name="location" required>
                        {% endif %}
                        <div class="input-group-btn">
                            <button class="btn btn-default" name="search" type="submit">search </button>
                        </div>
                    </div>
                    <input type="hidden" name="breed" value="{{ breed.breed_id}}">
                </form>
            </div>
        </div>

        <div class="col-md-9">
            <p>{{ breed.description }}</p>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#info"><span class="good-dog">Info</span></a></li>
                <li><a data-toggle="tab" href="#chars"><span class="good-dog">Standards</span></a><li>
            </ul>
            <div class="tab-content">
                <div id="info" class="tab-pane fade in active">
                    <div class="panel panel-default panel-horizontal">
                        <div class="panel-heading">
                            <span class="panel-title good-dog">size</span>
                        </div>
                        <div class="panel-body">
                            <span>{{ size.size|lower }}</span>
                        </div>
                    </div>
                    <div class="panel panel-default panel-horizontal">
                        <div class="panel-heading">
                            <span class="panel-title good-dog">energy</span>
                        </div>
                        <div class="panel-body">
                            <span>{{ energy.energy|lower }}</span>
                        </div>
                    </div>
                    <div class="panel panel-default panel-horizontal">
                        <div class="panel-heading">
                            <span class="panel-title good-dog">group</span>
                        </div>
                        <div class="panel-body">
                            <span>{{ breed.group.name|lower }}</span>
                        </div>
                    </div>
                    {% for char_id, char, breed_char in fun_chars %}
                    <div class="panel panel-default panel-horizontal">
                        <div class="panel-heading">
                            <span class="good-dog">{{ char.char|lower }}</span>
                        </div>
                        <div class="panel-body">
                            <span>{{ breed_char.description }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="chars" class="tab-pane fade">
                    {% for char_id, char, breed_char in breed_chars %}
                    <div class="panel panel-default" style="margin: 3px">
                        <div class="panel-heading" style="padding: 1px 1px 1px 5px">
                            <span class="good-dog">{{ char.char|lower }}</span>
                        </div>
                        <div class="panel-body" style="padding: 1px 1px 1px 5px">
                            <span>{{ breed_char.description }}</span>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="panel panel-default" style="margin: 3px">
                        <div class="panel-heading" style="padding: 1px 1px 1px 5px">
                            <span class="good-dog">{{ group.name|lower }} description</span>
                        </div>
                        <div class="panel-body" style="padding: 1px 1px 1px 5px">
                            <span>{{ group.description }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}
