{% extends 'base.html' %}

{% block head %}

    <style>
      #map {
        height: 300px;
        width: 300px;
      }
    </style>

{% endblock %}

{% block content %}

<h2>{{ breeder.name }}</h2>
<div>Breeds:
    {% for breed in breeds %}
        {% if loop.last %}
            <a href='/breeds/{{ breed.breed_id }}'>{{ breed.name }}</a>
        {% else %}
            <a href='/breeds/{{ breed.breed_id }}'>{{ breed.name }}, </a>
        {% endif %}
    {% endfor %}
</div>

<div>{{ spots|length }} spots</div>

<div>
    {% if user in users_spots %}
        <span>You've spotted this breeder!</span>
        <form action='/remove-breeder-spot' method="POST">
            <input type="image" src="/static/img/unpaw.png" width="20">
            <input type="hidden" name="breeder" value="{{ breeder.breeder_id }}">
            <span>click to unspot</span>
        </form>
    {% else %}
        <span>spot this breeder</span>
        <form action="/breeder-spot", method="POST">
            <input type="image" src="/static/img/paw.png" width="35">
            <input type="hidden" name="breeder" value="{{ breeder.breeder_id }}">
        </form>
    {% endif %}
</div>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#info">Info</a></li>
    <li><a data-toggle="tab" href="#litters">Litters</a><li>
    <li><a data-toggle="tab" href="#dogs">Dogs</a><li>
    <li><a data-toggle="tab" href="#awards">Awards</a><li>
    <li><a data-toggle="tab" href="#events">Events</a><li>
    <li><a data-toggle="tab" href="#blog">Blog</a><li>
</ul>

<div class="tab-content">
    <div id="info" class="tab-pane fade in active">
        <h4>Bio:</h4>
        <p>{{ breeder.bio }}</p>
        <div><b>{{ breeder.name }}</b></div>
        <div id="address">{{ breeder.address }}</div>
        <div>{{ breeder.phone }}</div>
        <a href='mailto:{{breeder.email}}'>{{ breeder.email }}</a>

        <div>
            <div class="photoGallery" data-gallery="breeder">
                <button onclick="plusDivs(-1, 'breeder')">❮</button>
                <button onclick="plusDivs(1, 'breeder')">❯</button>
                {% for photo in photos %}
                <div class="mySlides-breeder">
                    <div>{{ photo.caption }}</div>
                    <img src="{{ photo.photo }}" width="400" length="400">
                </div>
                {% endfor %}
            </div>
        </div>

        <div id="map"></div>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFObsWCCQqa4NCpJrZ4JGUze4rncKmZTw&callback=initMap"
        async defer></script>
        <script type="text/javascript" src="/static/js/breeder-info-map.js"></script>
    </div>
    <div id="litters" class="tab-pane fade">
        <div class="row">
          <div class="col-sm-5 col-md-4">
            {% for date, litter, breed in litters %}
            <div class="thumbnail">
                <h4><a href="/breeders/{{ breeder.breeder_id }}/litters/{{ litter.litter_id }}">Litter #{{ loop.revindex }} - {{ litter.date_born.strftime('%m/%d/%y') }}
                {% if litter.photos %}
                    <img src="{{ (litter.photos|random).photo }}" width="175">
                {% else %}
                    <img src="{{ breed.photo }}" width="175">
                {% endif %}
                </a></h4>
              <div class="caption">
                <p>
                    <a href='/breeds/{{ breed.breed_id }}'>{{ breed.name }}</a><br>
                    Sire: <a href='/breeders/{{ breeder.breeder_id }}/dogs/{{ litter.sire_id }}'>{{ litter.sire.name }}</a>
                    | Dam: <a href='/breeders/{{ breeder.breeder_id }}/dogs/{{ litter.dam_id }}'>{{ litter.dam.name }}</a><br>
                    Available: {{ litter.date_available.strftime('%m/%d/%y') }}<br>
                    {{ litter.num_pups }} puppies<br>
                    {{ litter.description }}<br>
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
    <div id="dogs" class="tab-pane fade">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">Sires</h3></div>
                    <div class="panel-body">
                        {% for sire in sires %}
                        <div class="thumbnail">
                            <h4><a href='/breeders/{{ breeder.breeder_id }}/dogs/{{ sire.dog_id }}'>{{ sire.name }}
                            {% if sire.photos %}
                            <img src="{{ (sire.photos|random).photo }}">
                            {% else %}
                            <img src="{{ breed.photo }}">
                            {% endif %}
                            </a></h4>
                            <div class="caption">
                                <p>Born: {{ sire.date_born.strftime('%m/%d/%y') }}</p>
                                <p>{{ sire.description }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">Dams</h3></div>
                    <div class="panel-body">
                        {% for dam in dams %}
                        <div class="thumbnail">
                            <h4><a href='/breeders/{{ breeder.breeder_id }}/dogs/{{ dam.dog_id }}'>{{ dam.name }}
                            {% if dam.photos %}
                            <img src="{{ (dam.photos|random).photo }}">
                            {% else %}
                            <img src="{{ breed.photo }}">
                            {% endif %}
                            </a></h4>
                            <div class="caption">
                                <p>Born: {{ dam.date_born.strftime('%m/%d/%y') }}</p>
                                <p>{{ dam.description }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>            
            </div>
        </div>
    </div>
    <div id="awards" class="tab-pane fade">
        <div class="row">
            <div class="col-sm-5 col-md-4">
                {% for date, award, dog in awards %}
                <div class="thumbnail">
                    <h4>{{ award.name }} {{ award.date.strftime('%m/%d/%y') }} - <a href='/breeders/{{ breeder.breeder_id }}/dogs/{{ award.dog_id }}'>{{ dog.name }}</h4>
                    {% if dog.photos %}
                    <img src="{{ (dog.photos|random).photo }}">
                    {% else %}
                    <img src="{{ breed.photo }}">
                    {% endif %}
                    </a>
                    <div class="caption"><p>{{ award.description }}</p></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="events" class="tab-pane fade">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                {% for date, event in events %}
                {% set outer_loop = loop %}
                <div class="thumbnail">
                    <h4>{{ event.name }} - {{ date.strftime('%m/%d/%y') }}</h4>
                    {% if event.photos %}
                    <div class="photoGallery" data-gallery="event{{ outer_loop.index }}">
                        <button onclick="plusDivs(-1, 'event{{ outer_loop.index }}')">❮</button>
                        <button onclick="plusDivs(1, 'event{{ outer_loop.index }}')">❯</button>
                        {% for photo in event.photos %}
                        <div class="mySlides-event{{ outer_loop.index }}">
                            <div>{{ photo.caption }}</div>
                            <img src="{{ photo.photo }}" width="400" length="400">
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <img src="{{ (breeder.photos|random).photo }}">
                    {% endif %}
                    <div class="caption"><p>{{ event.description }}</p></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="blog" class="tab-pane fade">
        <h4>Blog:</h4>
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#all">All</a></li>
            {% for date, blog in blogs %}
            <li><a data-toggle="pill" href="#{{ blog.category }}">{{ blog.category }}</a></li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            <div id="all" class="tab-pane fade in active">
                <ul>
                {% for date, blog in blogs %}
                    <li>
                        {{ blog.date.strftime('%m/%d/%y') }}: {{ blog.category }}<br>
                        {{ blog.post }}<br>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% for date, blog in blogs %}
            <div id="{{ blog.category }}" class="tab-pane fade">
                <ul>
                    <li>
                        {{ blog.date.strftime('%m/%d/%y') }}: {{ blog.category }}<br>
                        {{ blog.post }}<br>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

<script src="/static/js/photo-gallery.js"></script>

{% endblock %}