{% extends 'base.html' %}

{% block head %}

    <style>
      #map {
        height: 600px;
        width: 600px;
      }
    </style>

{% endblock %}


{% block content %}

<h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="good-dog"> find a breeder</span></h4>

<div class="container">
    <div class="row">
        <div class="col-md-4 scrollit">
            {% if breed %}
                <div class="good-dog-header"><a href='/breeds/{{ breed.breed_id}}'>{{ breed.name }}</a></div>
                <div>{{ breed.description }}</div>
                <img src='{{ breed.photo }}'>
            {% else %}
                <h4>all</h4>
            {% endif %}

            <div class="good-dog-header">breeder results near 
                <span class="good-dog orange" id="zipcode">{{ location }}</span>
            :</div> 

            <div class="thumbnail gray">
                {% for dist, breeder in breeders %}
                <span class="good-dog-header" id="breeder{{ loop.index }}">{{ loop.index }}. <a href='/breeders/{{ breeder.breeder_id }}'>{{ breeder.name }}</a></span> <span>~ {{ dist|round(1, 'floor') }} miles</span>
                <br><a href='mailto:{{ breeder.email }}'>{{ breeder.email }}</a>
                <br><span class="address" data-address='{{ breeder.address }}'>{{ breeder.address }}</span><br>
                {{ breeder.phone }}<br><br>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8 fixed">
            <div id="map"></div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>

<script type="text/javascript" src="/static/js/breeder-search-map.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFObsWCCQqa4NCpJrZ4JGUze4rncKmZTw&callback=initMap"
async defer></script>

{% endblock %}