{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block content %}


<div class="container">
<h4><span class="glyphicon glyphicon-search" aria-hidden="true"></span><span class="good-dog"> find a breed - results</span></h4>
    <div class="row">
        {% for result, breed in search_results %}
            <div class="col-md-4">
                <div class="thumbnail gray" style="min-height: 420px">
                    <span class="good-dog" style="font-size: 200%">{{ loop.index }}. <a href="/breeds/{{ breed.breed_id }}">{{ breed.name }}</a></span>
                    <div class="center">{{ breed.description|lower }}</div>
                    <img src='{{ breed.photo }}' height="200" width="200">
                    <div class="caption">
                        <div class="center"><span class="good-dog">size: </span>{{ breed.size.size|lower }}</div>
                        <div class="center"><span class="good-dog">energy: </span>{{ breed.energy.energy|lower }}</div>
                        <div class="center"><span class="good-dog">group: </span>{{ breed.group.name|lower }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}