{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block content %}

<div class="container">
    <div class="good-dog-header" style="font-size: 300%"><a href='/breeders/{{ breeder.breeder_id }}'>{{ breeder.name }}</a> - <span class="orange"> {{ dog.name }}</span></div>
        <div class="good-dog">breeds:
            <a href='/breeds/{{ breed.breed_id }}'>{{ breed.name }}</a>
        </div>
    <div class="row">
        <div class="col-md-5 fixed">
            <div class="image">

                <div id="dog" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for photo in dog.photos %}
                        {% if loop.first %}
                        <li data-target="#dog" data-slide-to="0" class="active"></li>
                        {% else %}
                        <li data-target="#dog" data-slide-to="{{ loop.index }}"></li>
                        {% endif %}
                        {% endfor %}
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox" style=" width:100%; height: 400px !important;">
                        {% for photo in dog.photos %}
                        {% if loop.first %}
                        <div class="item active">
                          <img src="{{ photo.photo }}">
                          <div class="carousel-caption">{{ photo.caption }}</div>
                        </div>
                        {% else %}
                        <div class="item">
                          <img src="{{ photo.photo }}">
                          <div class="carousel-caption">{{ photo.caption }}</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                  <!-- Controls -->
                    <a class="left carousel-control" href="#dog" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">prev</span>
                     </a>
                    <a class="right carousel-control" href="#dog" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">next</span>
                    </a>
                </div>
                <div class="image-text-left">
                    {% if user in users_spots %}
                        <form action='/remove-breeder-spot' method="POST">
                            <button class="btn btn-default transparent"><img src="/static/img/unpaw.png" title="you've spotted this breeder" width="20"></button>
                            <input type="hidden" name="breeder" value="{{ breeder.breeder_id }}">
                        </form>
                    {% else %}
                        <form action="/breeder-spot", method="POST">
                            <button class="btn btn-default"><img src="/static/img/paw.png" title="spot this breeder!" width="35"></button>
                            <input type="hidden" name="breeder" value="{{ breeder.breeder_id }}">
                        </form>
                    {% endif %}
                </div>
            </div>
            <div><span class="good-dog-header">{{ spots|length }}</span><span class="good-dog"> spots!</span></div>
            <div class="thumbnail gray">
                <h5><span class="glyphicon glyphicon-envelope"></span> email us at <a href='mailto:{{ breeder.email }}'>{{ breeder.email }}</a> for more information about <span class="good-dog orange"> {{ dog.name }}</span>. </h5>
            </div>
        </div>

        <div class="col-md-7 scrollit">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#info">Info</a></li>
                <li><a data-toggle="tab" href="#litters">Litters</a></li>
                <li><a data-toggle="tab" href="#awards">Awards</a></li>
            </ul>
            <div class="tab-content">
                <div id="info" class="tab-pane fade in active">
                    <p>{{ dog.description }}</p>
                    <div class="panel panel-default panel-horizontal">
                        <div class="panel-heading">
                            <span class="panel-title good-dog">breed</span>
                        </div>
                        <div class="panel-body">
                            <a href='/breeds/{{ breed.breed_id }}'>{{ breed.name }}</a>
                        </div>
                    </div>
                    <div class="panel panel-default panel-horizontal">
                        <div class="panel-heading">
                            <span class="panel-title good-dog">gender</span>
                        </div>
                        <div class="panel-body">
                            {% if dog.gender_id in ['m'] %}
                            <div>sire</div>
                            {% else %}
                            <div>dam</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="panel panel-default panel-horizontal">
                        <div class="panel-heading">
                            <span class="panel-title good-dog">DOB</span>
                        </div>
                        <div class="panel-body">
                            <div>{{ dog.date_born.strftime('%m/%d/%y') }}</div>
                        </div>
                    </div>
                </div>
                <div id="litters" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-12">
                        {% for litter in litters %}
                        <div class="thumbnail gray">
                            <div class="good-dog" style="font-size: 200%"><a href="/breeders/{{ breeder.breeder_id }}/litters/{{ litter.litter_id }}">Litter #{{ loop.revindex }} - <span class="orange">{{ litter.date_born.strftime('%m/%d/%y') }}</span>
                            {% if litter.photos %}
                                <img src="{{ (litter.photos|random).photo }}" width="250">
                            {% else %}
                                <img src="{{ breed.photo }}" width="250">
                            {% endif %}
                            </a></div>
                            <div class="caption">
                                <div class="panel panel-default panel-horizontal">
                                    <div class="panel-heading">
                                        <span class="panel-title good-dog">breed</span>
                                    </div>
                                    <div class="panel-body">
                                        <a href='/breeds/{{ breed.breed_id }}'>{{ breed.name }}</a>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-horizontal">
                                    <div class="panel-heading">
                                        <span class="panel-title good-dog">sire</span>
                                    </div>
                                    <div class="panel-body">
                                        <a href='/breeders/{{ breeder.breeder_id }}/dogs/{{ litter.sire_id }}'>{{ litter.sire.name }}</a>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-horizontal">
                                    <div class="panel-heading">
                                        <span class="panel-title good-dog">dam</span>
                                    </div>
                                    <div class="panel-body">
                                        <a href='/breeders/{{ breeder.breeder_id }}/dogs/{{ litter.dam_id }}'>{{ litter.dam.name }}</a>
                                    </div>
                                </div>  
                                <div class="panel panel-default panel-horizontal">
                                    <div class="panel-heading">
                                        <span class="panel-title good-dog">date</span>
                                    </div>
                                    <div class="panel-body">
                                        <span>{{ litter.date_available.strftime('%m/%d/%y') }}</span>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-horizontal">
                                    <div class="panel-heading">
                                        <span class="panel-title good-dog"># pups</span>
                                    </div>
                                    <div class="panel-body">
                                        <span>{{ litter.num_pups }}</span>
                                    </div>
                                </div>                                   

                                    {{ litter.description }}<br>
                            </div>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="awards" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-12">
                            {% for date, award in awards %}
                            <div class="thumbnail gray">
                                <span style="font-size: 150%">{{ award.name }} {{ award.date.strftime('%m/%d/%y') }} - </span><a href='/breeders/{{ breeder.breeder_id }}/dogs/{{ award.dog_id }}'><span class="good-dog-header">{{ dog.name }}</span></a>
                                {% if dog.photos %}
                                <img src="{{ (dog.photos|random).photo }}">
                                {% endif %}
                                </a>
                                <div class="caption"><p>{{ award.description }}</p></div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/photo-gallery.js"></script>

{% endblock %}