{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block content %}

<img src='/static/img/spot.png' width="200">
<span class="good-dog" style="color: gray">the best friend finder</span>

<div class="container">
    <div class="row">
        <div class="col-sm-6 good-dog" style="border: 2px solid gray">
            <h5><span class="glyphicon glyphicon-search" aria-hidden="true"></span> <span class="good-dog">find a breed</span></h5>
            <form action="/breed-search">
                <div class="row">
                    <div class="col-md-3">
                        <select name="size" class="form-control">
                            <option disabled selected value>size</span></option>
                            {% for size in sizes %}
                            <option value="{{ size.size_id }}">{{ size.size|lower }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select name="energy" class="form-control">
                            <option disabled selected value>energy level</option>
                            {% for energy in energies %}
                            <option value="{{ energy.energy_id }}">{{ energy.energy|lower }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select name="group" class="form-control">
                            <option disabled selected value>group</option>
                            {% for group in groups %}
                            <option value="{{ group.group_id }}">{{ group.name|lower }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                        <span>traits</span><span class="caret"></span>
                        </button>
                        <ul role="menu" class="dropdown-menu">
                            {% for char in chars %}
                                <li><input type="checkbox" name="{{ char.char_id }}" value="{{ char.char_id }}"> {{ char.char.lower() }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <input type="text" class="form-control" name="keyword" placeholder="try a keyword">
                    <div class="input-group-btn">
                        <button class="btn btn-default" name="search" type="submit"><span class="orange">search</span></button>
                    </div>
                </div>
            </form>
            <br>
        </div>
        <div class="col-sm-6 good-dog" style="border: 2px solid gray">
            <h5><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="good-dog"> find a breeder</span></h5>
            <form id="breeder-search" action="/breeder-search">
                <select class="form-control" name="breed" id="breed_id" required>
                    <option disabled selected value> choose a breed</option>
                    {% for breed in breeds %}
                    <option value="{{ breed.breed_id }}">{{ breed.name }}</option>
                    {% endfor %}
                </select>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">location</span>
                    {% if user %}
                        <input type="text" class="form-control" name="location" placeholder='{{ user.zipcode }}' aria-describedby="basic-addon1">
                    {% else %}
                        <input type="text" class="form-control" name="location" placeholder='enter location' aria-describedby="basic-addon1" required>
                    {% endif %}
                    <div class="input-group-btn">
                        <button class="btn btn-default" name="search" value="search" type="submit"><span class="orange">search</span></button>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>


{% endblock %}