{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block content %}

<h4>welcome to:</h4>
<h1>Spot</h1><span>the best friend finder.</span>

<div>new to Spot? <a href='/register'>please register</a></div>

<div>already a member? <a href='/login'>please login</a></div>

<h5>spot a breed</h5>
<form action="/breed-search">

    <select name="size">
        <option disabled selected value>size</option>
        {% for size in sizes %}
        <option value="{{ size.size_id }}">{{ size.size }}</option>
        {% endfor %}
    </select>

    <select name="energy">
        <option disabled selected value>energy level</option>
        {% for energy in energies %}
        <option value="{{ energy.energy_id }}">{{ energy.energy }}</option>
        {% endfor %}
    </select>

    <select name="group">
        <option disabled selected value>group</option>
        {% for group in groups %}
        <option value="{{ group.group_id }}">{{ group.name }}</option>
        {% endfor %}
    </select>

    {% for char in chars %}
    <br><input type="checkbox" name="{{ char.char_id }}" value="{{ char.char_id }}">{{ char.char.lower() }}
    {% endfor %}

    <div>try a keyword: <input type="text" name="keyword"></div>

    <input type="submit" name="search" value="search by filters">
    <span> ~ or ~ </span>
    <input type="submit" name="search all" value="search all breeds">

</form>

<h5>spot a breeder</h5>
<form action="/breeder-search">

    <div>location: <input type="text" name="location"></div>

    <div>breed: <select name="breed" required>
        <option disabled selected value>choose a breed</option>
        {% for breed in breeds %}
        <option value="{{ breed.breed_id }}">{{ breed.name }}</option>
        {% endfor %}
    </div>

    <input type="submit", name="search" value="search by breed"><br>
    <span> ~ or ~ </span>
    <input type="submit" name="search all" value="search all breeders">
</form>


{% endblock %}