{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block content %}

<img src='/static/img/spot.png' width="200">
<span>the best friend finder</span>

<h5><span class="glyphicon glyphicon-search" aria-hidden="true"></span> find a breed</h5>
<form action="/breed-search">

    <select name="size">
        <option disabled selected value>size</option>
        {% for size in sizes %}
        <option value="{{ size.size_id }}">{{ size.size }}</option>
        {% endfor %}
    </select>

    <select name="energy">
        <option disabled selected value>energy level</option>
        {% for energy in energies %}
        <option value="{{ energy.energy_id }}">{{ energy.energy }}</option>
        {% endfor %}
    </select>

    <select name="group">
        <option disabled selected value>group</option>
        {% for group in groups %}
        <option value="{{ group.group_id }}">{{ group.name }}</option>
        {% endfor %}
    </select>

    {% for char in chars %}
    <br><input type="checkbox" name="{{ char.char_id }}" value="{{ char.char_id }}">{{ char.char.lower() }}
    {% endfor %}

    <div>try a keyword: <input type="text" name="keyword" placeholder="search"></div>

    <input type="submit" name="search" value="search by filters">
    <span> ~ or ~ </span>
    <input type="submit" name="search all" value="search all breeds">

</form>

<h5><span class="glyphicon glyphicon-user" aria-hidden="true"></span> find a breeder</h5>
<form id="breeder-search" action="/breeder-search">

    {% if user %}
        <div>location: <input type="text" name="location" placeholder='{{ user.zipcode }}'></div>
    {% else %}
        <div>location: <input type="text" name="location" placeholder='enter zipcode' required></div>
    {% endif %}

    <div>breed: <select name="breed" id="breed_id" required>
        <option disabled selected value>choose a breed</option>
        {% for breed in breeds %}
        <option value="{{ breed.breed_id }}">{{ breed.name }}</option>
        {% endfor %}
    </div>

    <input type="submit", name="search" value="search"><br>

</form>

<script>
    // var breeders = {};

    // function sortBreeders(results) {
    //     breeders = results;
    // }

    // function getBreeders() {
    //     $.get('/breeder-search.json', {'breed': $("#breed_id").val()}, sortBreeders);
    // }

    // $("#breeder-search").on('submit', getBreeders);
</script>


{% endblock %}