{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block content %}


<h2><a href='/breeders/{{ breeder.breeder_id}}'>{{ breeder.name }}</a></h2>
<div>Breeds: <a href='/breeds/{{ breed.breed_id }}'>{{ breed.name }}</a></div>

<div>{{ breeder.breeder_spots|length }} spots</div>

<div>
    {% if user in users_spots %}
        <div>You've spotted this breeder!</div>
    {% else %}
        <h5>spot this breeder</h5>
        <form action="/breeder-spot", method="POST">
            <button type="submit">spot</button>
            <input type="hidden" name="breeder" value=" {{ breeder.breeder_id }}">
        </form>
    {% endif %}
</div>

<h4>Litter - Born {{ litter.date_born.strftime('%m/%d/%y') }}</h4>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#info">Info</a></li>
    <li><a data-toggle="tab" href="#puppies">Puppies</a><li>
</ul>

<div class="tab-content">
    <div id="info" class="tab-pane fade in active">
        <div>
            Sire: <a href='/breeders/{{ breeder.breeder_id }}/dogs/{{ sire.dog_id }}'>{{ sire.name }}</a>
        </div>
        <div>
            Dam: <a href='/breeders/{{ breeder.breeder_id }}/dogs/{{ dam.dog_id }}'>{{ dam.name }}</a>
        </div>
        <div>{{ litter.description }}</div>
        <div>
            Available: {{ litter.date_available.strftime('%m/%d/%y') }}
        </div>
        <div>
            Puppies: {{ litter.num_pups }}
        </div>
        <div class="photoGallery" data-gallery="litter">
            {% for photo in photos %}
            <div class="mySlides-litter">
                <img src="{{ photo.photo }}" width="400" length="400">
                <div>{{ photo.caption }}</div>
            </div>
            {% endfor %}
            <button onclick="plusDivs(-1, 'litter')">❮</button>
            <button onclick="plusDivs(1, 'litter')">❯</button>
        </div>
        <h5>Email us at <a href='mailto:{{ litter.breeder.email }}'>{{ litter.breeder.email }}</a> to request a puppy from this litter </h5>
    </div>

    <div id="puppies" class="tab-pane fade">
        <div>
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#all">{{ litter.num_pups }} Total</a></li>
                <li><a data-toggle="pill" href="#female">{{ f_pups|length }} Females</a></li>
                <li><a data-toggle="pill" href="#male">{{ m_pups|length }} Males</a></li>
            </ul>
            <ul>
                <li>{{ f_pups|length }} female:</li>
                {% for avail, pup in f_pups %}
                {% set outer_loop = loop %}
                <ul>
                    <li>{{ pup.name }}</li>
                        <ul>
                        <li>{{ pup.description }}</li>
                        <li>
                            {% if pup.available %}
                            Available
                            {% else %}
                            Sold
                            {% endif %}
                        </li>
                        <li>{{ "${:,.2f}".format(pup.price) }}</li>
                        <li>Photos: 
                            <div class="photoGallery" data-gallery="puppyf{{ outer_loop.index }}">
                                {% for photo in pup.photos %}
                                <div class="mySlides-puppyf{{ outer_loop.index }}">
                                    <img src="{{ photo.photo }}" width="200" length="200">
                                    <div>{{ photo.caption }}</div>
                                </div>
                                {% endfor %}
                                <button onclick="plusDivs(-1, 'puppyf{{ outer_loop.index }}')">❮</button>
                                <button onclick="plusDivs(1, 'puppyf{{ outer_loop.index }}')">❯</button>
                            </div>
                        </li>
                        </ul>
                </ul>
                {% endfor %}

                <li>{{ m_pups|length }} male:</li>
                    {% for avail, pup in m_pups %}
                    {% set outer_loop = loop %}
                        <ul>
                            <li>{{ pup.name }}</li>
                            <ul>
                                <li>{{ pup.description }}</li>
                                <li>
                                    {% if pup.available %}
                                    Available
                                    {% else %}
                                    Sold
                                    {% endif %}
                                </li>
                                <li>{{ "${:,.2f}".format(pup.price) }}</li>
                                <li>Photos: 
                                    <div class="photoGallery" data-gallery="puppym{{ outer_loop.index }}">
                                        {% for photo in pup.photos %}
                                        <div class="mySlides-puppym{{ outer_loop.index }}">
                                            <img src="{{ photo.photo }}" width="200" length="200">
                                            <div>{{ photo.caption }}</div>
                                        </div>
                                        {% endfor %}
                                        <button onclick="plusDivs(-1, 'puppym{{ outer_loop.index }}')">❮</button>
                                        <button onclick="plusDivs(1, 'puppym{{ outer_loop.index }}')">❯</button>
                                    </div>
                                </li>
                            </ul>
                        </ul>
                        {% endfor %}
            </ul>
        </div>

    </div>
</div>

<script src="/static/js/photo-gallery.js"></script>

{% endblock %}