{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block content %}


<h2><a href='/breeders/{{ breeder.breeder_id}}'>{{ breeder.name }}</a> Litters</h2>
<div>Breeds: <a href='/breeds/{{ breed.breed_id }}'>{{ breed.name }}</a></div>

<div>{{ breeder.breeder_spots|length }} spots</div>

<div>
    {% if user in users_spots %}
        <span>You've spotted this breeder!</span>
        <form action='/remove-breeder-spot' method="POST">
            <input type="image" src="/static/img/unpaw.png" width="20">
            <input type="hidden" name="breeder" value="{{ breeder.breeder_id }}">
            <span>click to unspot</span>
        </form>
    {% else %}
        <span>spot this breeder</span>
        <form action="/breeder-spot", method="POST">
            <input type="image" src="/static/img/paw.png" width="35">
            <input type="hidden" name="breeder" value=" {{ breeder.breeder_id }}">
        </form>
    {% endif %}
</div>

<h4>Litter - Born {{ litter.date_born.strftime('%m/%d/%y') }}</h4>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#info">Info</a></li>
    <li><a data-toggle="tab" href="#puppies">Puppies</a><li>
</ul>

<div class="tab-content">
    <div id="info" class="tab-pane fade in active">
        <p>
            Sire: <a href='/breeders/{{ breeder.breeder_id }}/dogs/{{ sire.dog_id }}'>{{ sire.name }}</a>
        </p>
        <p>
            Dam: <a href='/breeders/{{ breeder.breeder_id }}/dogs/{{ dam.dog_id }}'>{{ dam.name }}</a>
        </p>
        <p>{{ litter.description }}</p>
        <p>
            Available: {{ litter.date_available.strftime('%m/%d/%y') }}
        </p>
        <p>
            Puppies: {{ litter.num_pups }}
        </p>
        <div class="photoGallery" data-gallery="litter">
            <button onclick="plusDivs(-1, 'litter')">❮</button>
            <button onclick="plusDivs(1, 'litter')">❯</button>
            {% for photo in photos %}
            <div class="mySlides-litter">
                <div>{{ photo.caption }}</div>
                <img src="{{ photo.photo }}" width="400" length="400">
            </div>
            {% endfor %}
        </div>
        <h5>Email us at <a href='mailto:{{ litter.breeder.email }}'>{{ litter.breeder.email }}</a> to request a puppy from this litter </h5>
    </div>

    <div id="puppies" class="tab-pane fade">
        <div class="row">
            <div class="col-sm-5 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">{{ f_pups|length }} Females</h3></div>
                    <div class="panel-body">
                    {% for avail, pup in f_pups %}
                    {% set outer_loop = loop %}
                    <div class="thumbnail">
                        <h4>{{ pup.name }}</h4>
                        <div class="photoGallery" data-gallery="puppyf{{ outer_loop.index }}total">
                            <button onclick="plusDivs(-1, 'puppyf{{ outer_loop.index }}total')">❮</button>
                            <button onclick="plusDivs(1, 'puppyf{{ outer_loop.index }}total')">❯</button>
                            {% for photo in pup.photos %}
                            <div class="mySlides-puppyf{{ outer_loop.index }}total">
                                <div>{{ photo.caption }}</div>
                                <img src="{{ photo.photo }}" width="200" length="200">
                            </div>
                            {% endfor %}
                        </div>
                      <div class="caption">
                        {% if pup.available %}
                        <p>Available</p>
                        {% else %}
                        <p>Sold</p>
                        {% endif %}
                        <p>{{ "${:,.2f}".format(pup.price) }}</p>
                        <p>{{ pup.description }}</p>
                      </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">{{ m_pups|length }} Males</h3></div>
                    <div class="panel-body">
                    {% for avail, pup in m_pups %}
                    {% set outer_loop = loop %}
                    <div class="thumbnail">
                        <h4>{{ pup.name }}</h4>
                        <div class="photoGallery" data-gallery="puppym{{ outer_loop.index }}total">
                            <button onclick="plusDivs(-1, 'puppym{{ outer_loop.index }}total')">❮</button>
                            <button onclick="plusDivs(1, 'puppym{{ outer_loop.index }}total')">❯</button>
                            {% for photo in pup.photos %}
                            <div class="mySlides-puppym{{ outer_loop.index }}total">
                                <div>{{ photo.caption }}</div>
                                <img src="{{ photo.photo }}" width="200" length="200">
                            </div>
                            {% endfor %}
                        </div>
                        <div class="caption">
                            {% if pup.available %}
                            <p>Available</p>
                            {% else %}
                            <p>Sold</p>
                            {% endif %}
                            <p>{{ "${:,.2f}".format(pup.price) }}</p>
                            <p>{{ pup.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/photo-gallery.js"></script>

{% endblock %}