{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block content %}

<h5>Please enter your information below.</h5>
<form action="/register" method="POST">
    <span>email: <input required type="text" name="email"></span><br>
    <span>password: <input required type="password" name="pwd"></span><br>
    <span>first name: <input type="text" name="fname"></span><br>
    <span>last name: <input type="text" name="lname"></span><br>
    <span>zipcode: <input required type="text" name="zip" pattern="[0-9]{5}"></span><br>
    <span>phone: <input type="text" name="phone"></span><br>
    <input type="submit", value="register">
</form>

{% endblock %}