{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block content %}

<div class="container">

    <div class="good-dog-header orange">{{ user.fname }} {{ user.lname }}</div>
    <div><span class="glyphicon glyphicon-user"></span> {{ user.email }}</div>
    <br>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home"><span class="good-dog">Home</span></a></li>
        <li><a data-toggle="tab" href="#info"><span class="good-dog">Info</span></a><li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title good-dog" style="font-size: 175%">your breeder spots:</h4>
                        </div>
                        <div class="panel-body">
                            {% for breeder, litters in breeder_spots %}
                            <div class="thumbnail gray">
                                <a href='/breeders/{{ breeder.breeder_id }}'><div class="good-dog-header">{{ breeder.name }}</div></a>
                                <div class="good-dog">Breeds:
                                    {% for group in litters|groupby('breed') %}
                                        {% if loop.last %}
                                            <a href='/breeds/{{ group.grouper.breed_id }}'>{{ group.grouper.name }}</a>
                                        {% else %}
                                            <a href='/breeds/{{ group.grouper.breed_id }}'>{{ group.grouper.name }}, </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <img src="{{ (breeder.photos|random).photo }}" width="200">

                                <div class="panel panel-default panel-horizontal">
                                    <div class="panel-heading">
                                        <span class="panel-title good-dog" style="font-size: 130%">litters</span>
                                    </div>
                                    <div class="panel-body">
                                        {% for litter in litters %}
                                        {% if litter.date_available > date_filter %}
                                            <div><a href='/breeders/{{ breeder.breeder_id }}/litters/{{ litter.litter_id }}'>{{ litter.date_born.strftime('%m/%d/%y') }}</a> - {{ litter.num_pups }} puppies</div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="panel panel-default panel-horizontal">
                                    <div class="panel-heading">
                                        <span class="panel-title good-dog" style="font-size: 130%">events</span>
                                    </div>
                                    <div class="panel-body">
                                        {% for event in breeder.events %}
                                            {% if event.date > date_filter %}
                                                <div><a href='/breeders/{{ breeder.breeder_id }}/events/{{ event.event_id }}'>{{ event.name }}</a> {{ event.date.strftime('%m/%d/%y') }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <form action='/remove-breeder-spot' method="POST">
                                    <input type="image" src="/static/img/unpaw.png" title="click to unspot" width="20">
                                    <input type="hidden" name="breeder" value="{{ breeder.breeder_id }}">
                                    <input type="hidden" name="user-page" value="1">
                                </form>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4 class="panel-title good-dog" style="font-size: 175%">your breed spots:</h4></div>
                        <div class="panel-body">
                            {% for breed in breed_spots %}
                            <div class="thumbnail gray">
                                <a href='/breeds/{{ breed.breed_id }}'><div class="good-dog-header">{{ breed.name }}</div></a>
                                <div>{{ breed.description }}</div>
                                <div class="image">
                                    <div class="center"><img src='{{ breed.photo }}' width="200"></div>
                                </div>
                                <form action="/breeder-search">
                                    <div class="input-group-btn center">
                                        <button class="btn btn-default" name="search" type="submit"><span class="good-dog orange">search for breeders</span></button>
                                    </div>
                                    <input type="hidden" name="breed" value="{{ breed.breed_id}}">
                                </form>
                                <form action='/remove-breed-spot' method="POST">
                                    <input type="image" src="/static/img/unpaw.png" title="click to unspot" width="20">
                                    <input type="hidden" name="breed" value="{{ breed.breed_id }}">
                                    <input type="hidden" name="user-page" value="1">
                                </form>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="info" class="tab-pan fade">
            <div class="row">
                <div class="col-md-5">
                    <div class="good-dog" style="font-size: 190%">your user information is below.</div>
                    <div>To make updates, enter new info in the fields and submit.</div><br>
                    <form id="user-updates" action='/user-updates' method="POST">
                        <div class="input-group">
                            <span class="input-group-addon good-dog">first name</span>
                            <input type="text" class="form-control" name="fname" id="fname-field" placeholder="{{ user.fname }}">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon good-dog">last name</span>
                            <input type="text" class="form-control" name="lname" id="lname-field" placeholder="{{ user.lname }}">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon good-dog">email</span>
                            <input type="text" class="form-control" name="email" id="email-field" placeholder="{{ user.email }}">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon good-dog">password</span>
                            <input type="password" class="form-control" name="password" id="pwd-field" placeholder="******">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon good-dog">zipcode</span>
                            <input type="text" class="form-control" name="zipcode" id="zipcode-field" placeholder="{{ user.zipcode }}">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon good-dog">phone</span>
                            <input type="text" class="form-control" name="phone" id="phone-field" placeholder="{{ user.phone }}">
                        </div>
                        <input type="hidden" name="user" id="user-field" value="{{ user.user_id }}">
                        <button class="btn btn-default form-control" name="update" type="submit"><span class="good-dog orange">submit changes</span></button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="/static/js/user-updates.js"></script>

{% endblock %}




